.catalog__title {
  .font-params(36px, 36px);
}

.catalog__table-caption,
.catalog__subtitle,
.catalog__button {
  .font-params(16px, 20px);
  text-transform: uppercase;
}

.catalog__table-data,
.catalog__subtitle-description {
  font-family: "Arial", sans-serif;
  .font-params(12px, 16px);
}

.catalog__button {
  text-decoration: none;
}
