.catalog__container {
  padding-top: 27px;
  border-top: 1px solid #ebebeb;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 41px;
  padding: 0 20px;
  .font-params(36px, 36px);
}

.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog__table-caption,
.catalog__subtitle,
.catalog__button {
  .font-params(16px, 20px);
  text-transform: uppercase;
}

.catalog__table-data,
.catalog__subtitle-description {
  .font-params(12px, 14px);
  font-family: @arial;
}

.catalog__item {
  padding: 22px 20px 24px 20px;
  border-top: 1px solid #ebebeb;
  list-style-type: none;
}

.catalog__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.catalog__img {
  margin-top: -3px;
}

.catalog__table {
  width: 140px;
}

.catalog__table-caption {
  margin-bottom: 11px;
  text-align: start;
}

.catalog__table-row {
  display: flex;
  justify-content: space-between;
}

.catalog__table-data:first-child {
  text-align: start;
}

.catalog__table-data:nth-child(2) {
  text-align: end;
}

.catalog__button {
  width: 100%;
  padding: 10px 0;
}

.catalog__item_hidden {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}

.catalog__plus {
  margin-bottom: 21px;
}

.catalog__subtitle {
  margin-top: 0;
  margin-bottom: 8px;
}

.catalog__subtitle-description {
  margin-top: 0;
  margin-bottom: 22px;
}

.catalog__button_grey {
  background-color: @grey;
  color: @black;
}
