.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developer__name {
  margin-top: 11px;
  .font-params(16px, 18.4px);
  font-family: @arial, sans-serif;
  color: @grey-text;
}

@media (min-width: @tablet-width) {
  .developer {
    width: 164px;
    padding: 0;
  }

  .developer__name {
    margin-top: 0;
    .font-params(16px, 18px);
    font-family: @arial, sans-serif;
  }

  .developer__link {
    margin-top: -13px;
  }
}
