.extra__title {
  .font-params(24px, 24px);
}

.extra__caption {
  .font-params(16px, 16px);
  text-transform: uppercase;
}

.extra__table-data {
  font-family: "Arial", sans-serif;
  .font-params(14px, 14px);
}

.extra__button,
.gift__description {
  .font-params(16px, 20px);
}

.extra__button {
  text-transform: uppercase;
  text-decoration: none;
}

.gift__description {
  font-family: "Arial", sans-serif;
}
