.footer {
  background-color: @grey;
}

.footer__wrapper {
  padding-top: 5px;
  padding-bottom: 11px;
}

.footer__logo {
  padding-top: 30px;
  padding-bottom: 28px;
  text-align: center;
  cursor: pointer;
}

.footer__img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  border-top: 1px solid @grey-border;
  border-bottom: 1px solid @grey-border;
}

.footer__developer {
  padding-top: 19px;
  padding-bottom: 7px;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 38px;
  }

  .footer__logo,
  .footer__social {
    margin: 0;
  }
}
