.footer {
  background-color: @grey;
}

.footer__wrapper {
  padding-top: 17.5px;
  padding-bottom: 7.5px;
}

.footer__logo {
  margin-bottom: 11px;
  padding: 20px 0;
  text-align: center;
}

.footer__social {
  border-top: 1px solid @grey-border;
  border-bottom: 1px solid @grey-border;
}

.footer__developer {
  padding: 18px 0;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  .footer__logo,
  .footer__social {
    margin: 0;
  }
}
