.form__title {
  .font-params(36px, 36px);
}

.form__description {
  .font-params(14px, 18px);
  text-transform: uppercase;
}

.form__label,
.form__input,
.form__comment {
  .font-params(16px, 18px);
  text-transform: uppercase;
}

.form__subtitle {
  .font-params(24px, 26px);
}

.form__submit {
  .font-params(16px, 20px);
  text-transform: uppercase;
}
