.form__client-data {
  padding-top: 28px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.form__title-wrapper {
  padding-top: 29px;
  padding-bottom: 10px;
  border-top: 1px solid #d9d9d9;
}

.form__title {
  margin-top: 0;
  margin-bottom: 34px;
  .font-params(36px, 36px);
}

.form__description {
  width: 230px;
  margin: 0;
  .font-params(14px, 18px);
  text-transform: uppercase;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label,
.form__input,
.form__comment-textarea {
  .font-params(16px, 18px);
  text-transform: uppercase;
}

.form__label {
  cursor: pointer;
}

.form__client-data .form__item,
.form__feedback .form__item {
  display: flex;
  align-items: center;
}

.form__client-data .form__item:not(:last-child),
.form__feedback .form__item:not(:last-child) {
  margin-bottom: 14px;
}

.form__client-data .form__label {
  margin-right: 13px;
}

.form__label_weight {
  width: 91px;
}

.form__label_age {
  width: 165px;
}

.form__client-data .form__input,
.form__feedback .form__input {
  width: 100%;
  padding: 12.5px 14px 12.5px 14px;
  border: 1px solid #e7e7e7;
}

.form__client-data .form__input,
.form__feedback .form__input,
.form__comment-textarea {
  cursor: pointer;
  outline: none;

  &::placeholder {
    color: @dark-grey;
  }

  &:hover {
    border-color: @middle-basic-grey;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px @black;
    border-color: @black;
    cursor: text;

    &::placeholder {
      color: transparent;
    }
  }
}

.form__client-data .form__input:disabled,
.form__feedback .form__input:disabled {
  border-color: @black;
  background-color: @white;
  box-shadow: inset 0 0 0 1px @black;

  &::placeholder {
    color: @black;
  }
}

.form__client-data .form__input_error,
.form__feedback .form__input_error {
  box-shadow: inset 0 0 0 1px @error-red;
  border-color: @error-red;
}

.form__program {
  padding-top: 18px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d9d9d9;
}

.form__program .form__item {
  position: relative;
  padding: 6px 0;
}

.form__program .form__label,
.form__extra .form__label {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
}

.form__program .form__label {
  grid-column-gap: 15px;
}

.form__program .form__input + .form__label::before,
.form__extra .form__input + .form__label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid @middle-basic-grey;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.form__program .form__input + .form__label:hover::before,
.form__extra .form__input + .form__label:hover::before {
  border-color: #bababa;
}

.form__program .form__input:focus + .form__label::before,
.form__extra .form__input:focus + .form__label::before {
  outline: auto;
  border-color: #bababa;
}

.form__program .form__input:disabled + .form__label,
.form__extra .form__input:disabled + .form__label {
  opacity: 0.3;
}

.form__program .form__label::before {
  left: 0;
  border-radius: 50%;
}

.form__program .form__input:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 8px;
  padding: 7px;
  background-color: @green;
  border-radius: 50%;
}

.form__subtitle {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 34px;
  .font-params(24px, 26px);
}

.form__feedback .form__subtitle::after,
.form__comment .form__subtitle::after,
.form__extra .form__subtitle::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: @green;
}

.form__feedback .form__subtitle::after {
  top: 15px;
  right: -20px;
  width: 99px;
}

.form__feedback {
  padding-top: 27px;
  padding-bottom: 11px;
}

.form__feedback .form__item {
  position: relative;
}

.form__feedback .form__label_email {
  width: 73px;
  margin-right: 8px;
}

.form__feedback .form__label_tel {
  margin-right: 9px;
}

.form__feedback .form__input {
  padding-right: 40px;
  background-repeat: no-repeat;
}

.form__item-icon {
  position: absolute;
}

.form__item-icon_email {
  top: 18px;
  right: 15px;
}

.form__item-icon_tel {
  top: 15px;
  right: 13px;
}

.form__input_email:disabled + .form__item-icon,
.form__input_tel:disabled + .form__item-icon {
  color: @green;
}

.form__input_error + .form__item-icon {
  color: @error-red;
}

.form__comment {
  padding-top: 11px;
  padding-bottom: 11px;
}

.form__comment .form__subtitle {
  margin-bottom: 40px;
  text-transform: none;
}

.form__comment .form__subtitle::after {
  top: 17px;
  right: -180px;
  width: 158px;
}

.form__comment-textarea {
  width: 279px;
  height: 150px;
  padding: 9px 13px 9px 13px;
  border: 1px solid #e7e7e7;
  resize: none;
}

.form__comment-textarea::placeholder {
  .font-params(16px, 16px);
}

.form__extra {
  padding-top: 11px;
  padding-bottom: 20px;
}

.form__extra .form__subtitle {
  margin-bottom: 27px;
}

.form__extra .form__subtitle::after {
  top: 14px;
  left: 164px;
  width: 136px;
}

.form__extra-wrapper {
  display: grid;
}

.form__extra .form__item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.form__extra .form__label {
  grid-column-gap: 16px;
  align-items: center;
}

.form__extra .form__input + .form__label::before {
  left: 20px;
}

.form__extra .form__input:checked + .form__label::before {
  background-image: url("/img/check-icon.svg");
}

.form__submit {
  padding-top: 9px;
  padding-bottom: 32px;
}

.form__button {
  padding: 10px 0;
  .centering(280px);
  .font-params(16px, 20px);
}

.form__note {
  margin-top: 21px;
  margin-bottom: 0;
  text-align: center;
  .font-params(14px, 16px);
  font-family: @arial, sans-serif;
}

@media (min-width: @tablet-width) {
  .form__title-wrapper {
    padding-top: 36px;
    padding-bottom: 34px;
    border-top: none;
  }

  .form__title {
    margin-bottom: 54px;
    .font-params(60px, 60px);
  }

  .form__client-data,
  .form__program {
    border-bottom: none;
  }

  .form__client-data {
    padding-top: 32px;
    padding-bottom: 54px;
  }

  .form__description,
  .form__label,
  .form__input,
  .form__comment {
    .font-params(20px, 30px);
  }

  .form__description {
    width: 330px;
    margin: 0;
  }

  .form__client-data .form__item:not(:last-child),
  .form__feedback .form__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .form__client-data .form__label_name {
    margin-right: 17px;
  }

  .form__client-data .form__label_weight {
    margin-right: 19px;
  }

  .form__client-data .form__label_age {
    margin-right: 7px;
  }

  .form__client-data .form__input,
  .form__feedback .form__input {
    padding: 10px 18px 10px 18px;
  }

  .form__program {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .form__program .form__fieldset {
    padding: 19px 28px;
    border: 1px solid #e7e7e7;
  }

  .form__program .form__input + .form__label::before,
  .form__extra .form__input + .form__label::before {
    width: 40px;
    height: 40px;
  }

  .form__extra .form__label,
  .form__program .form__label {
    grid-template-columns: 40px 1fr;
  }

  .form__program .form__label {
    grid-column-gap: 20px;
  }

  .form__program .form__input:checked + .form__label::after {
    top: 17px;
    left: 11px;
    padding: 9px;
  }

  .form__feedback {
    padding-top: 56px;
    padding-bottom: 23px;
  }

  .form__subtitle {
    margin-bottom: 76px;
    .font-params(36px, 36px);
  }

  .form__feedback .form__subtitle::before,
  .form__comment .form__subtitle::before,
  .form__extra .form__subtitle::before {
    content: "";
    position: absolute;
    top: 22px;
    left: -70px;
    width: 30px;
    height: 2px;
    background-color: @green;
  }

  .form__feedback .form__subtitle::after {
    top: 22px;
    right: -187px;
    width: 145px;
  }

  .form__feedback .form__label_email {
    width: 76px;
    margin-right: 17px;
  }

  .form__feedback .form__label_tel {
    margin-right: 14px;
  }

  .form__feedback .form__input {
    padding-right: 40px;
  }

  .form__comment {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .form__comment .form__subtitle::after {
    top: 22px;
    left: 220px;
    width: 478px;
  }

  .form__comment .form__subtitle {
    margin-bottom: 76px;
  }

  .form__comment textarea {
    width: 631px;
    height: 174px;
    padding: 9px 18px 9px 18px;
  }

  .form__comment-textarea::placeholder {
    .font-params(20px, 30px);
  }

  .form__extra {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .form__extra .form__subtitle {
    margin-bottom: 51px;
  }

  .form__extra-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 59px;
    grid-row-gap: 21px;
  }

  .form__extra-wrapper .form__item {
    width: 284px;
  }

  .form__extra .form__label {
    grid-column-gap: 19px;
    margin-left: 0;
  }

  .form__extra .form__input + .form__label::before {
    position: inherit;
    margin-right: 19px;
  }

  .form__extra .form__subtitle::after {
    top: 22px;
    left: 252px;
    width: 446px;
  }

  .form__submit {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 72px;
  }

  .form__button {
    width: 284px;
    margin: 0;
    padding: 26px 0;
    .font-params(20px, 0);
  }

  .form__note {
    width: 284px;
    margin-top: 17px;
    .font-params(16px, 16px);
    font-family: @arial, sans-serif;
    text-align: start;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    display: flex;
    justify-content: space-between;
    .centering(1440px);
    padding: 49px 110px 46px 110px;
  }

  .form__title-wrapper {
    padding-top: 18px;
    padding-bottom: 17px;
  }

  .form__title {
    margin-bottom: 56px;
  }

  .form__client-data,
  .form__program {
    display: inline-block;
    width: 570px;
    padding: 0;
  }

  .form__subtitle {
    margin-bottom: 77px;
  }

  .form__subtitle::before,
  .form__subtitle::after {
    top: 22px;
  }

  .form__feedback .form__subtitle::before,
  .form__comment .form__subtitle::before,
  .form__extra .form__subtitle::before {
    left: -110px;
    width: 70px;
  }

  .form__feedback .form__subtitle::after {
    left: 552px;
    width: 778px;
  }

  .form__feedback .form__label_email {
    margin-right: 22px;
  }

  .form__comment .form__subtitle::after {
    left: 222px;
  }

  .form__feedback {
    padding-top: 22px;
  }

  .form__feedback-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__feedback .form__item:first-child {
    margin-bottom: 0;
  }

  .form__feedback .form__item {
    width: 570px;
  }

  .form__item-icon_email {
    top: 18px;
    right: 18px;
  }

  .form__item-icon_tel {
    top: 14px;
    right: 16px;
  }

  .form__comment {
    padding-top: 44px;
    padding-bottom: 42px;
  }

  .form__comment .form__subtitle::after,
  .form__extra .form__subtitle::after {
    width: 1110px;
  }

  .form__comment textarea {
    width: 100%;

    &:hover {
      border-color: @middle-basic-grey;
    }

    &:focus {
      border-color: @dark-grey;
    }
  }

  .form__extra .form__subtitle {
    margin-bottom: 50px;
  }

  .form__extra-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 41px;
  }

  .form__submit {
    padding-top: 38px;
    padding-bottom: 82px;
  }

  .form__button {
    width: 568px;
  }

  .form__note {
    width: 569px;
  }
}
