.gift {
  padding-top: 39px;
  padding-bottom: 35px;
}

.gift__wrapper {
  width: 280px;
  height: 289px;
  background-image: url("/img/gift-background-mobile@1x.jpg");
  background-color: @green;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/gift-background-mobile@2x.jpg");
  }

  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  text-align: center;
}

.gift__text-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.gift__icon {
  margin: auto;
  margin-top: 58px;
  margin-bottom: 47px;
}

.gift__description {
  width: 161px;
  margin: auto;
  margin-top: 0;
  .font-params(16px, 20px);
  font-family: @arial, sans-serif;
  color: @white;
}

@media (min-width: @tablet-width) {
  .gift {
    padding-top: 34px;
    padding-bottom: 76px;
  }

  .gift__wrapper {
    width: 708px;
    height: 200px;
    background-image: url("/img/gift-background-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/gift-background-tablet@2x.jpg");
    }
  }

  .gift__text-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 505px;
    height: 100%;
    margin-left: 79px;
  }

  .gift__icon {
    margin: 0;
  }

  .gift__description {
    margin: 0;
    margin-top: 5px;
    text-align: start;
  }

  .gift__button {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    display: inline-block;
    width: 245px;
    margin: 0;
    padding: 0;
  }

  .gift__wrapper {
    width: 245px;
    height: 289px;
    margin: 0;
    padding: 0;
    background-image: url("/img/gift-background-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/gift-background-desktop@2x.jpg");
    }
  }

  .gift__text-wrapper {
    display: flex;
    flex-flow: column;
    width: auto;
    height: 248px;
    margin: 0;
  }

  .gift__description {
    text-align: center;
  }

  .gift__icon {
    margin-top: 56px;
  }
}
