.header__wrapper {
  display: flex;
  padding: 11px 0;
}

.header__logo-text {
  display: flex;
  margin: 0 65px 0 56px;
}

.header__burger-menu {
  padding: 0;
  background-color: @white;
  border: none;
}

.header__nav-panel {
  display: none;
}

@media (min-width: @tablet-width) {
  .header__logo-text,
  .header__burger-menu {
    display: none;
  }

  .header__wrapper {
    justify-content: space-between;
    width: @tablet-width;
    .centering(@tablet-width);
    padding: 26px 0;
  }

  .header__logo {
    margin-left: 33px;
  }

  .header__logo-img_tablet {
    display: block;
  }

  .header__nav-panel {
    display: block;
    width: 456px;
  }

  .header__nav-list {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
  }

  .header__nav-item {
    .font-params(18px, 24px);
    text-transform: uppercase;
    list-style-type: none;
  }

  .header__nav-link {
    text-decoration: none;
    letter-spacing: 0.3px;
    color: @black;
  }
}
