.header__logo-wrapper {
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 13px;
}

.header__img {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-text {
  display: flex;
  margin: 0 65px 0 56px;
}

.header__nav-panel_close {
  height: 0;
  opacity: 0;
  transition: height 0.3s, opacity 0.2s;
}

.header__nav-panel_open {
  height: 199px;
  opacity: 1;
  transition: height 0.3s, opacity 1s;
}

.header__nav-list {
  padding: 0;
  margin: 0;
}

.header__nav-item {
  padding: 26px 0;
  .font-params(20px, 13px, 500);
  text-align: center;
  text-transform: uppercase;
  list-style-type: none;
  border-top: 1px solid #e6e6e6;
}

.header__nav-link {
  text-decoration: none;
  color: @black;
}

.header__nav-link .header__nav-link-text {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .header__logo-text,
  .header__burger {
    display: none;
  }

  .header__wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 25px 30px;
  }

  .header__logo-wrapper {
    align-items: unset;
    padding: 0;
  }

  .header__nav-panel {
    display: block;
    width: 439px;
    opacity: 1;
  }

  .header__nav-panel_open {
    height: fit-content;
  }

  .header__nav-list {
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin-top: 17px;
  }

  .header__nav-item {
    height: 35px;
    padding: 0;
    border-top: none;
    .font-params(18px, 24px);
  }

  .header__nav-link {
    padding-bottom: 7px;
  }

  .header__nav-link_active {
    border-bottom: 2px solid @green;
  }
}

@media (min-width: @desktop-width) {
  .header__wrapper {
    justify-content: space-between;
    padding: 54px 110px;
  }

  .header__nav-panel {
    width: 480px;
  }

  .header__nav-link {
    .font-params(20px, 29px);
    color: @black;
  }

  .header__nav-link_white {
    color: @white;
  }

  .header__nav-link_index-active {
    border-color: @white;
  }
}
