.offer__wrapper {
  position: relative;
  height: 467px;
  background-image: url("../../img/index-background-mobile.png");
  background-repeat: no-repeat;
}

// .offer__background {
//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: block;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(@green, 0.8);
//   }
// }

// .offer__background-img {
//   display: block;
// }

.offer__title {
  position: absolute;
  top: 27px;
  margin: 0;
  text-align: center;
  .font-params(36px, 36px);
  color: @white;
}

.offer__text {
  position: absolute;
  top: 124px;
  width: @mobile-width;
  margin: 0;
  text-align: center;
  .font-params(14px, 14px);
  text-transform: uppercase;
  color: @white;
}

.offer__img {
  position: absolute;
  top: 166px;
  left: 20px;
}

.offer__button {
  position: absolute;
  top: 440px;
  left: 20px;
  display: inline-block;
  .centering(280px);
  padding: 11px 0 11px 0;
  .font-params(14px, 18px);
  background-color: @green;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;

  &:hover {
    background-color: @green-hover;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (min-width: @tablet-width) {
  .offer__wrapper {
    position: relative;
    padding-bottom: 615px;
  }

  .offer__background-img {
    display: none;
  }

  .offer__title-wrapper {
    .centering(523px);
  }

  .offer__title {
    position: inherit;
    display: inline-block;
    width: 431px;
    margin-top: 43px;
    .font-params(60px, 62px);
    text-align: start;
    letter-spacing: 1px;
    color: @black;
  }

  .offer__text {
    position: inherit;
    display: inline-block;
    margin-top: 43px;
    .font-params(20px, 20px);
    text-align: start;
    letter-spacing: 0.4px;
    color: @black;
  }

  .offer__img_mobile {
    display: none;
  }

  .offer__button {
    width: 253px;
    top: 282px;
    left: 117px;
    .font-params(20px, 20px);
    padding-top: 18px;
    padding-bottom: 18px;
    letter-spacing: 0.4px;
  }
}
