.slider {
  position: relative;
  height: 329px;
  background-color: @grey-background;
}

.slider__img {
  position: absolute;
  top: 9px;
}

.slider__control-wrapper {
  position: absolute;
  bottom: 36px;
  left: 65px;
}

.slider__control {
  display: flex;
  justify-content: space-between;
  .centering(196px);
}

.slider__before,
.slider__after {
  padding: 0;
  .font-params(16px, 20px);
  font-family: @oswald;
  text-transform: uppercase;
  border: none;
}

.slider__toggle-wrapper {
  margin: auto;
}

.slider__toggle {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 14px;
  box-shadow: inset 0 0 0 1px @grey-frame;
  border-radius: 6px;
  background-color: @white;
}

.slider__toggle-mark {
  position: absolute;
  top: 4px;
  left: 6px;
  padding: 3px 17.5px;
  border-radius: 6px;
  background-color: @green;
}

.slider__input {
  display: none;
}

.slider__scale-wrapper {
  display: none;
}

@media (min-width: @tablet-width) {
  .slider {
    height: 683px;
    background-color: @white;
  }
  
  .slider__picture-wrapper {
    position: absolute;
    top: 221px;
    height: 462px;
    width: 768px;
    background-color: @grey-background;
  }
  
  .slider__img {
    top: -172px;
    left: 46px;
  }
  
  .slider__control-wrapper {
    bottom: 69px;
    left: 98px;
    width: 584px;
  }

  .slider__control {
    width: inherit;
  }

  .slider__before,
  .slider__after {
    .font-params(20px, 29px);
    font-family: @oswald;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px dotted @black;
  }
  
  .slider__after {
    margin-right: 13px;
  }

  .slider__toggle-wrapper {
    display: none;
  }

  .slider__scale-wrapper {
    display: block;
  }

  .slider__scale {
    position: relative;
    display: inline-block;
    width: 448px;
    height: 6px;
    background-color: @grey-scale;
    border-radius: 6px;
    vertical-align: bottom;
  }

  .slider__scale-mark {
    position: absolute;
    top: -13px;
    left: 209px;
    padding: 12px;
    border-radius: 50%;
    background-color: @white;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  .slider__scale-dot {
    display: block;
    padding: 4px;
    background-color: @green;
    border-radius: 50%;
  }
}
