.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 23px 0 16px 0;
}

.social__item {
  list-style-type: none;
}

.social__link {
  display: none;
}

.social__item_vk::before {
  content: url("../../img/vk-icon-mobile.svg");
}

.social__item_instagram::before {
  content: url("../../img/instagram-icon-mobile.svg");
}

.social__item_facebook::before {
  content: url("../../img/facebook-icon-mobile.svg");
}

@media (min-width: @tablet-width) {
  .social {
    border: none;
  }

  .social__list {
    .centering(123px);
    width: 126px;
    margin: auto;
    margin-left: 19px;
    padding: 0;
    border: none;
  }

  .social__item_vk::before {
    content: url("../../img/vk-icon-tablet.svg");
  }

  .social__item_instagram::before {
    content: url("../../img/instagram-icon-tablet.svg");
  }

  .social__item_facebook::before {
    content: url("../../img/facebook-icon-tablet.svg");
  }

  .social__item_facebook {
    margin-top: -5px;
  }
}
