.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page {
  width: 320px;
  margin: auto;
  font-family: @oswald, @arial, sans-serif;
  .font-params(14px, 18px);
  color: @black;
}

@media (min-width: @mobile-width) {
  .container {
    padding: 0 20px;
  }
}


@media (min-width: @tablet-width) {
  .page {
    width: @tablet-width;
  }

  .container {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    padding: 0 110px;
  }
}
