.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (min-width: @mobile-width) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: @tablet-width) {
  .container {
    padding: 0 70px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    padding: 0 110px;
  }
}
